@import '../variables';
.pdf {
    color: $GrayscaleBlack;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    padding-top: 100px;
    position: relative;
    &__title {
        padding-top: 20px;
        padding-bottom: 30px;
        color: $Grayscale50;
        font-size: 36px;
        font-style: normal;
        font-weight: 600;
        line-height: 160%; 
        width: 50%;
            &__text {
            display: inline-block;
            color: #9c9c9c;
            padding-left: 20px;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: 160%; 
            padding-bottom: 50px;
            
        }
    }
}

.pdf__image {
    position: absolute;
    display: inline-block;
    padding-bottom: 20px;
    left: 850px;
    width: 138px;
    height: 138px;
}

.pdf__link_button {
    margin-bottom: 100px;
    width: 230px;
    padding: 14px 34px 14px 32px;
    align-items: flex-start;
    gap: 10px;
    background: $PrimaryBlue100;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    color: #fff;
    background-size: cover;
}

.details {
    &::after {
        position: absolute;
        content: '';
        display: block;
        width: 529px;
        height: 2px;
        background: #000;
        left: 110px;
        top: 111px;

    }
}